body {
  width: 100%;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;}

h1 {
  color: MidnightBlue;
  font-size: 70px;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;

}

h2 {
    font-weight: normal;
    color: MidnightBlue;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

h3 {
  color: MidnightBlue;
  font-family: 'Montserrat', sans-serif;

}

div {
  background-color: #ABD9FF;
}

hr {
  color: #ABD9FF;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin: 50px auto;
}

p {
  font-weight: bold;
  color: MidnightBlue;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

label {
  font-weight: normal;
  color: MidnightBlue;
  font-family: 'Montserrat', sans-serif;

}

a {
  color: MidnightBlue;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration:none;
}

.skills {
  padding-bottom: 5%;
}

.money {
  font-weight: normal;
  color: MidnightBlue;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}
.skill-row {
  width: 50%;
  margin: auto;
  position: relative;
  left: 125px;
  text-align: left;
  line-height: 2;
  padding-bottom: 0.5%;
}

.cherry {
  width: 30%;
  margin: auto;
  font-weight: normal;
}

.skeet-row {
  width: 50%;
  margin: auto;
  position: relative;
  right: 125px;
  text-align: right;
  line-height: 2;
  padding-bottom: 2.5%
}

.contact {
  width: 12%;
}

.web-programming {
  width: 15%;
  float: left;
  position: relative;
  left: 210px;
  top: 25px;
}


.fix {
  clear: left;
  font-weight: normal;
}



.align {
  clear: right;
  font-weight: normal;
}



.programming {
  width: 15%;
  float: right;
  position: relative;
  right: 210px;
  top: 25px;
}

.avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  top: 20px;
}

.experience {
  text-align: inherit;
  text-decoration-line: underline;
}

.top-container {
  background-color: #ABD9FF;
}

.middle-container {
  margin: auto;
}

.bottom-container {
  margin: auto;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
}

.top-cloud {
  position: relative;
  left: 300px;
}

.mountain{
  position: relative;
  bottom: 50px;
}

.btn {
  background: MidnightBlue;
  background-image: -webkit-linear-gradient(top, MidnightBlue, #689ec7);
  background-image: -moz-linear-gradient(top, MidnightBlue, #689ec7);
  background-image: -ms-linear-gradient(top, MidnightBlue, #689ec7);
  background-image: -o-linear-gradient(top, MidnightBlue, #689ec7);
  background-image: linear-gradient(to bottom, MidnightBlue, #689ec7);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.links {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.bold {
  color: MidnightBlue;
  font-weight: bold;
}


@media (max-width: 1020px) {

   body {
     text-align: center;
   }

  .cherry {
    text-align: center;
  }

  .top-cloud {
    visibility: hidden;
  }

  .bottom-cloud {
    visibility: hidden;
  }

  .programming {
    visibility: hidden;
  }

  .web-programming {
    visibility: hidden;
  }

  .skill-row {
    text-align: center;
    position: relative;
    left: auto;
  }

  .skeet-row {
    text-align: center;
    position: relative;
    right: auto;
  }


}

@media (max-width: 600px) {

  .mountain {
    width: 75%;
    position: relative;
    padding-top: 15%;
  }

  .cherry {
    text-align: center;
  }
}






/* wildcard styling */
  * {
      box-sizing: border-box;
  }

  /* padding for whole body */
  body {
      padding: 15px;
  }

  /* styling body */
  .container {
      max-width: 1200px;
      margin: auto;
  }


  /* anchor tag decoration */
  a {
      text-decoration: none;
      color: #5673C8;
  }

  a:hover {
      color: lightblue;
  }

  /* paragraph tag decoration */
  p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;

  }

  /* row and column decoration */
  .row {
      margin: 0px -18px;
      padding: 8px;
  }

  .row > .column {
      padding: 6px;
  }

  .column {
      float: left;
      width: 25%;
  }

  .row:after {
      content: "";
      display: table;
      clear: both;
  }

  /* content decoration */
  .content {
      background-color: white;
      padding: 10px;
      border: 1px solid gray;
  }

  /* window size 850 width set */
  @media screen and (max-width: 850px) {
      .column {
          width: 50%;
      }
  }

  /* window size 400 width set */
  @media screen and (max-width: 400px) {
      .column {
          width: 100%;
      }
  }
